.container{
  border: 1px solid black;
  width: 25%;
  height: 500px;
  margin: 3%;
  display: inline-flex ;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.pic{
 height: 300px;
}

.counter{
  text-align: center;
}